.Men {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

body {
    background: linear-gradient(96deg, #ff5aa4, #ffe0ee);
}

h1 {
    color: red;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    transition: 3s;
}
#op1:hover {
    color: #9200be;
    transition: 3s;
    width: 400px;
}

#img1 {
    border-radius: 6px;
    height: 600px;
    width: 400px;
}

#div_1 {
    background: linear-gradient(80deg, pink, red);
    width: 10px;
    margin: 6%;
    overflow: hidden;
    transition-duration: 3s;
}

#div_1:hover {
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49;
    transition-duration: 1s;
}
#op2:hover {
    color: #9200be;
    transition: 3s;
    width: 400px;
}

#img2 {
    border-radius: 6px;
    height: 600px;
    width: 400px;
}

#div_2 {
    background: linear-gradient(80deg, pink, red);
    width: 10px;
    margin: 6%;
    overflow: hidden;
    transition-duration: 3s;
}

#div_2:hover {
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49;
    transition-duration: 1s;
}
#op3:hover {
    color: #9200be;
    transition: 3s;
    width: 400px;
}

#img3 {
    border-radius: 6px;
    height: 600px;
    width: 400px;
}

#div_3 {
    background: linear-gradient(80deg, pink, red);
    width: 10px;
    margin: 6%;
    overflow: hidden;
    transition-duration: 3s;
}

#div_3:hover {
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49;
    transition-duration: 1s;
}
#op4:hover {
    color: #9200be;
    transition: 3s;
    width: 400px;
}

#img4 {
    border-radius: 6px;
    height: 600px;
    width: 400px;
}

#div_4 {
    background: linear-gradient(80deg, pink, red);
    width: 10px;
    margin: 6%;
    overflow: hidden;
    transition-duration: 3s;
}

#div_4:hover {
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49,
        0 0 20px #910e49;
    transition-duration: 1s;
}